* {
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #15151b;
    font-size: 20px;
    padding: 2%;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

   .nav-list a:hover {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
  }

  .tela {
    width: 200px;
    display: block;
    margin: auto;
  }

  body {
    font-family: 'Radio Canada', sans-serif;
    overflow-x: hidden;
  }

  #box1 {
    text-align: center;
    background-color: #8585ad;
    width: 100%;
    height: 600px;
    color: white;
    font-family: 'Radio Canada', sans-serif;
    padding-top: 100px;
  }

  #box2 {
    background-color: #23232e;
    width: 100%;
    height: 40%;
  }
  

  #box3 {
    background-color: #8585ad;
    width: 100%;
    height: 600px;
    overflow: hidden;
  }

  #box4 {
    background-color: #23232e;
    width: 100%;
    overflow: hidden;
  }

    #box3-1 {
      width: 35%;
      height: 60%;
      margin: auto;
      color: white;
      font-size: 20px;
    }
  
    #box4-1 {
      background-color: black;
      height: 380px;
      width: 38%;
      float: right;
      margin-right: 12%;
      border-radius: 10px;
      margin-bottom: 50px;
    }
  
    #box4-2 {
      background-color: rgba(0, 0, 0, 0.342);
      height: 350px;
      width: 38%;
      margin-left: 12%;
      color: white;
      text-align: center;
      padding-top: 30px;
      border-radius: 10px;
  }

  #box5 {
    background-color: #15151b;
    color: white;
    text-align: center;
    line-height: 100px;
  }

  .texto1 {
    padding: 20px;
    font-size: 30px;
  }

  .texto2 {
    color: white;
    text-align: center;
    padding-top: 70px;
    font-size: 50px;
  }

  .teste {
    width: 70%;
    float: left;
    position: relative;
  }

  button.slick-prev {
    font-size: 0px;
    border: none;
    width: 33px;
    height: 51px;
    background-color: transparent;
    background-image: url(img/prev.png);
    position: absolute;
    z-index: 1;
    top: 33%;
    left: 15%;
  }

  button.slick-next {
    font-size: 0px;
    border: none;
    width: 33px;
    height: 51px;
    background-color: transparent;
    background-image: url(img/prox.png);
    position: absolute;
    z-index: 1;
    top: 33%;
    right: 15%;
  }

  .teste {
    width: 100%;
    float: left;
    position: relative;
  }

  .slick-dots li button {
    font-size: 0px;
    border: 3px solid white;
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 50%;
    background-color: transparent;
  }

  .slick-dots li {
    display: inline-block;
  }

  .slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 48%;
    top: 90%;
  }

  li.slick-active button {
    background-color: rgb(219, 28, 28);
  }

  .slick-list {
    width: 100% !important;
  }

  #imgcontato {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 10px;
  }

  .textocontato {
    font-size: 20px;
  }

  @media (max-width: 1450px) {
    #box3-1 {
      width: 50%;
    }
  }

  @media (max-width: 1000px) {
    #box3-1 {
      width: 70%;
    }
  }

  @media (max-width: 720px) {
    #box3-1 {
      width: 85%;
    }
  }

  @media (max-width: 590px) {
    #box3-1 {
      width: 98%;
    }
  }

  @media (max-width: 514px) {
    #box3 {
      height: 800px;
    }
  }

  @media (max-width: 459px) {
    .slick-dots {
      left: 30%;
    }
  }

  @media (max-width: 800px) {
    #box4-1{
      float: none;
      width: 80%;
      margin: auto;
    }

    #box4-2{
      width: 80%;
      margin: auto;
    }
  }

  header {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  @media (max-width: 350px) {
    #box3 {
      height: 1090px;
    }
  }

  @media (max-width: 360px) {
    #box1 {
      height: 770px;
    }
    #box5{
      font-size: 9px;
    }
  }

  @media (max-width: 380px) {
    .textocontato{
      font-size: 12px;
    }
  }